extends layout

block content
  h1= title

  ul
    each category in list_categories
      li
        a(href=category.url) #{category.name}
        img(src='#{category.img_url}')
        p #{category.description}
        

    else
      li There are no authors.