extends layout

block content
  h1= title
  div(class='container')
      div(class='row category-display')
        h3 #{category_detail.description}
        each character in list_character
            div(class='col-sm-4')
                div(class='card text-center')
                    a(href=character.url)
                        img(class="card-img-top" src='#{character.img_url}')
                    div(class='card-body')
                        a(class="card-title" href=character.url) #{character.name}
        else 
            p No character Now